.select { 
    width: 100px;
    padding: 5px;
    padding-right: 30px;

    cursor: pointer;
    appearance: none;
    background-color: cadetblue;
    border: 2px solid rgb(14, 80, 54);
    color: rgb(245, 239, 236);
}
.select:focus {
    outline: none;
    border: rgb(0, 24, 8);
}
.option {
    background-color: rgb(19, 68, 68);
    color: tomato;
}
.option:checked {
    background-color: slateblue;
    color: snow;
    border: indigo;
}
.option:hover {
    background-color: steelblue;
    color: white;
}