.blue {
    border-bottom: 5px solid rgb(118, 118, 255);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.testSpanError {
    color: rgb(106, 253, 125);
}
.HW4Block {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: rgba(14, 13, 13, 0.7);
    border-radius: 5px;
    padding: 20px;
}