.radio {
    appearance: none;
    height: 10px;
    width: 10px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    background-color: honeydew;
}
.radio:hover {
    border: 2px solid rgb(18, 153, 18);
}
.radio:checked {
    background-color: cadetblue;
    border: 2px solid rgb(14, 80, 54);
}
.radio:focus {
    background-color: rgb(128, 252, 155);
}
.label{
    cursor: pointer;
}